<?xml version="1.0"?>
<launch>

	<node name="rviz" pkg="rviz" type="rviz" required="true" />
	
	<arg name="arm_model" default="$(find manipulator_asif)/urdf/irb6640_185_280.urdf"/>
	<param name="arm_description" command="$(find xacro)/xacro --inorder $(arg arm_model)" />

	<node pkg="robot_state_publisher" type="robot_state_publisher" name="arm_rviz_state" >
		<remap from="robot_description" to="arm_description" />
	</node>

	<node pkg="joint_state_publisher" type="joint_state_publisher" name="arm_rviz_joint" >
		<remap from="robot_description" to="arm_description" />
		<rosparam param="source_list">["irb6640/jointstate"]</rosparam>
	</node>

</launch>